/* font-family: 'Playfair Display', serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Old Standard TT', serif; */

body {
	font-size: 1.4em;
	font-family: "Old Standard TT", serif;
}
.jumbotron {
	font-family: "Playfair Display", serif;
	background-image: url(TrainInterior.jpg);
	text-align: center;
	color: white;
}

.card-header {
	background-color: blue;
}

.card-body .form-group {
	border-style: solid 5px;
	border: blue;
	box-shadow: blue;
	background-color: rgb(204, 197, 197);
	color: white;
}
.btn {
	background-color: rgb(245, 151, 84);
	border-color: gold;
}
.container {
	margin-left: auto;
}
.panel .panel-body .text .form {
}
